@import 'tailwindcss';

:root {
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-dark: #ebefe8;
    --bg-header-dark: #3f3f44;
    --bg-header-layer1-dark: #344439;
    --bg-footer: #e8e5ea;

    --bg-bluegray: #d5d5e5;
    --bg-fasting: #343245;

    --background-light: #edecec;

    --glass-bg: color-mix(in oklab, var(--bg) 80%, transparent);
    --glass-border: color-mix(
        in oklab,
        var(--glass-bg) 70%,
        rgb(207, 204, 204)
    );
}

@theme {
    --color-highlight-green: #51bd4f;
    --color-gray-profile: #3d3d3d;
    --color-graygreen: #4a4e4b;
    --color-gray-sub: #939c93;
    --color-muted: #5a5959;

    --animate-slide-in1: slide-in 1s ease-in-out 0s backwards;
    --animate-slide-in2: slide-in 1s ease-in-out 0.5s backwards;
    --animate-slide-in3: slide-in 1s ease-in-out 1s backwards;

    @keyframes slide-in {
        0% {
            opacity: 0;
            margin-left: 100px;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes radiate {
        0% {
        }
    }
}

@layer utilities {
    .bg-mountain-gradient {
        background-image:
            url('./assets/mt3.svg'),
            linear-gradient(
                to bottom,
                var(--bg-bluegray),
                rgba(255, 247, 237, 0.9)
            );
        background-size: cover, cover;
        /* background-position: center bottom, center; */
        background-attachment: fixed, scroll;
        background-repeat: no-repeat, no-repeat;
        /* background-size: cover; */
        background-position: center bottom;
    }

    .bg-blob {
        background-image:
            url('./assets/blob.svg'),
            linear-gradient(
                to bottom,
                rgba(171, 202, 243, 0.4),
                rgba(240, 229, 208, 0.5)
            );
        background-size: cover;
        background-attachment: fixed, scroll;
        background-repeat: no-repeat;
    }

    /* Photo by Drew Beamer on Unsplash */
    .bg-full {
        background-image:
            linear-gradient(
                to bottom,
                rgba(237, 237, 246, 0.6),
                rgba(213, 213, 229, 0.6)
            ),
            url('./assets/drew-beamer-kUHfMW8awpE-unsplash.jpg');
        /* background-repeat: no-repeat; */
        background-size: cover;
        background-position: center center;
        background-attachment: scroll, fixed;
    }

    .bg-grid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100' height='100' fill='none' stroke='rgb(255 255 255 / 0.2)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
        /* background-color: rgba(9, 7, 37, 0.3); */
    }
}
