@import 'tailwindcss';

:root {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-dark: #ebefe8;
    --bg-header-dark: #262329;
    --bg-header-layer1-dark: #344439;
    --bg-footer: #5a5b69;

    --bg-bluegray: #d5d5e5;
    --bg-fasting: #343245;

    --background-light: #edecec;

    --glass-bg: color-mix(in oklab, var(--bg) 80%, transparent);
    --glass-border: color-mix(
        in oklab,
        var(--glass-bg) 70%,
        rgb(207, 204, 204)
    );
}

@theme {
    --color-highlight-green: #51bd4f;
    --color-gray-profile: #3d3d3d;
    --color-graytext: #3c3c3c;
    --color-gray-sub: #939c93;
    --color-muted: #5a5959;

    --animate-slide-in1: slide-in 300ms ease-in-out 0s backwards;
    --animate-slide-in2: slide-in 1s ease-in-out 0.5s backwards;
    --animate-slide-in3: slide-in 1s ease-in-out 1s backwards;
    --animate-slide-out: slide-out 50ms ease-in-out forwards;

    @keyframes slide-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slide-out {
        0% {
            opacity: 1;
            margin-right: 0;
        }

        100% {
            opacity: 0;
            margin-right: -10px;
        }
    }

    --animate-rotate: rotate 400ms ease-in-out 100ms forwards;

    @keyframes rotate {
        0% {
            opacity: 1;
        }
        100% {
            transform: rotate(90deg);
            opacity: 0;
        }
    }

    --animate-carousel-shift: carousel-shift 0.5s ease-in;
    --animate-carousel-shift-200: carousel-shift 0.5s ease-in 200ms backwards;
    --animate-carousel-shift-300: carousel-shift 0.5s ease-in 300ms backwards;

    @keyframes carousel-shift {
        from {
            opacity: 0;
            filter: blur(40px);
            transform: translateY(60px);
        }
        to {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0);
        }
    }
}

@layer utilities {
    .bg-mountain-gradient {
        background-image:
            url('./assets/mt3.svg'),
            linear-gradient(
                to bottom,
                var(--bg-bluegray),
                rgba(255, 247, 237, 0.9)
            );
        background-size: cover, cover;
        /* background-position: center bottom, center; */
        background-attachment: fixed, scroll;
        background-repeat: no-repeat, no-repeat;
        /* background-size: cover; */
        background-position: center bottom;
    }

    .bg-grid {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100' height='100' fill='none' stroke='rgb(255 255 255 / 0.2)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
        /* background-color: rgba(9, 7, 37, 0.3); */
    }
}
